---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteLink from "../components/SiteLink.astro";
import { siteConfig, siteLinks } from "../data/site";
---

<BaseLayout>
  <header
    class="site-header header-condensed fixed inset-0 w-full text-center font-sans font-bold"
  >
    <div
      class="absolute top-1/2 left-1/2 w-80 -translate-x-1/2 -translate-y-1/2 sm:w-[410px] md:w-[580px]"
    >
      <img
        class="mx-auto size-32 rounded-full sm:float-left sm:mx-0 sm:size-20 md:size-32"
        src="/img/jimeh-4.2.0.jpg"
        alt="Jim Myhrberg"
      />
      <span
        class="relative block px-2.5 text-center sm:px-0 sm:pt-1 sm:pl-[98px] sm:text-left md:pt-[9px] md:pl-[155px]"
      >
        <span class="relative text-[2.14em] sm:text-[2.43em] md:text-[3.36em]">
          <span class="text-slate-800 uppercase dark:text-slate-200">
            {siteConfig.author.name}
          </span>
          <span class="text-slate-300 lowercase dark:text-slate-700">
            ({siteConfig.author.nickname})
          </span>
          <span
            class="absolute top-8 left-[7px] text-[0.383em] text-sky-500/70 uppercase sm:top-9 sm:left-[9px] md:top-[49px] md:left-[11px] dark:text-sky-400/80"
          >
            {siteConfig.description}
          </span>
        </span>
        <div
          class="site-links pt-1.5 text-center text-[14px] sm:-ml-0.5 sm:text-left sm:text-base md:text-[22px] lg:ml-0 lg:pl-1.5"
          id="site-links"
        >
          <SiteLink
            icon="fa6-solid:envelope"
            rot13Href={siteConfig.email.rot13Href}
            rot13Text={siteConfig.email.rot13Text}
          />
          {
            siteLinks.map((item) => (
              <SiteLink
                name={item.name}
                url={item.url}
                icon={item.icon}
                rel={item.rel}
              />
            ))
          }
        </div>
      </span>
    </div>
  </header>
</BaseLayout>
